EasyDict==1.10
opencv-python==4.7.0.72
shapely==2.0.1
Cython==3.0.0b3
scipy==1.10.1
pandas==2.0.3
PyYAML==6.0
json-tricks==3.17.0
scikit-image==0.20.0
yacs==0.1.8
tensorboardX==2.6
tensorflow==2.15.0
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
torchtext==0.15.1
numpy>=1.23.5
matplotlib==3.7.1
protobuf==3.20.3
google-auth-oauthlib==1.0.0
tqdm==4.64.1
requests==2.31.0
cmake==3.26.4
filelock==3.12.1
pynvml==11.5.0
pycocotools
grpcio==1.54.2
sympy==1.12
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
